<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>Ejemplos - Planeaciones Educadoras</title>
	<link rel="stylesheet" href="../statics/css/vendor/foundation.css">
	<link rel="stylesheet" href="../statics/css/src/style.css">
	<link rel="stylesheet" href="../statics/css/src/main2.css">
</head>
<body>
<div class="hide-for-large">
	<div class="title-bar">
	  <div class="title-bar-left">
	    <span class="title-bar-title">Educadora Maravilla</span>
	  </div>
	  <div class="title-bar-right">
	  <span class="">MENÚ</span>
	    <button class="menu-icon" type="button" data-open="offCanvasRight"></button>
	  </div>
	</div>
</div>

	<div class="off-canvas position-right" id="offCanvasRight" data-off-canvas data-position="right">
		<button class="close-button" aria-label="Close menu" type="button" data-close>
			<span aria-hidden="true">&times;</span>
		</button>
		<ul class="vertical menu">
			<li><a href="#">Inicio</a></li>
			<li><a href="ejemplos.html">Ejemplos</a></li>
			<li><a href="formas.html">Formas de Pago</a></li>
			<li><a href="#">Planeaciones Disponibles</a></li>
			<li><a href="#">¿Cómo las descargo?</a></li>
			<li><a href="info.html">¿Quienes Somos?</a></li>
		</ul>
	</div>

	
	<div class="show-for-large">
		<section class="top-bar">
		  <div class="top-bar-left">
		    <ul>
		      <h4><li class="titulo">Educadora Maravilla</li></h4>
		    </ul>
		  </div>

		<div class="top-bar-right">
	    <ul class="menu-text dropdown menu text-centered" data-dropdown-menu>
	          <li><a href="ejemplos.html">Ejemplos</a></li>
	          <li><a href="formas.html">Formas de Pago</a></li>
	          <li><a href="#">Planeaciones Disponibles</a>
	          <ul class="menu">
	          	  <li><a href="maternal.html">Maternal</a></li>
			      <li><a href="preescolar.html">Preescolar</a></li>
	          </ul>
	          </li>
	          <li><a href="ayuda.html">¿Cómo las descargo?</a></li>
		      <li><a href="info.html">¿Quienes Somos?</a></li>
	    </ul>
	    </div>
	</section>
	</div>

	<div class="row">
		<div class="column text-center">
		<pre class="padding-top show-for-small-only"></pre>
		<h1 class="subti">Ejemplos de Planeaciones</h1>
		<hr>
		</div>
	</div>

	<div class="row small-up-1 large-up-2 ">
	<div class="column">
		<img class="thumbnail" src="../statics/img/planeacion1.jpg">
		<h5>Planeación Para Maternal</h5>
		<a href="https://drive.google.com/file/d/0BwdHv6vT0CrvclVqbExsb1R2cEU" class="button" target="blank">Ver Ejemplo</a>
	</div>
	
	<hr class="show-for-small-only">
	
	<div class="column">
		<img class="thumbnail" src="../statics/img/planeacion2.jpg">
		<h5>Planeación Para Preescolar</h5>
		<a href="https://drive.google.com/file/d/0BwdHv6vT0CrvbExQNm03emlkSDg" target="blank" class="button">Ver Ejemplo</a>
	</div>
	</div>




	<script src="../statics/js/vendor/jquery.js"></script>
    <script src="../statics/js/vendor/what-input.js"></script>
    <script src="../statics/js/vendor/foundation.js"></script>

    <script>
      $(document).foundation();
    </script>
</body>
</html>