body, h1, h2, h3, h4, h5, h6, p, {
  font-family: Century Gothic, Arial, Calibri;
}

.titulo{
  font-size: 90%;
  font-weight: bold;
  color: #FAC971;
}



h4{
  padding-top: 0.59em;
  display: inline-block;
  padding-left: 0.1em;
}

ul{
    margin:0;
    list-style: none;
}

.padding-top{
  padding-top: 2em;
}

.menu-text, p{
  text-rendering: optimizeLegibility;
  font-family: Century Gothic, Arial, Calibri;
  font-size: 19px;
  color: #3498DB;
  margin-bottom: 0.5rem;
}

.subti{
  font-family: Century Gothic, Arial, Calibri;
}

a {
  text-decoration: underline;
  color: #ffffff;
}

a:hover {
  text-decoration: underline;
  background-color: #E4F0FF;
}

body{
  text-align: center;
}
