body, h1, h2, h3, h4, h5, h6, p, {
  font-family: Century Gothic, Arial, Calibri, icomoon;
}

.titulo{
  font-size: 95%;
  font-weight: bold;
  color: #FFD5FD;
}

h4{
  padding-top: 0.5em;
  padding-left: 0.2em;
}

ul{
    margin:0;
    list-style: none;
}

.padding-top{
	padding-top: 2em;
}

.menu-text, p{
  text-rendering: optimizeLegibility;
  font-family: Century Gothic, Arial, Calibri;
  font-size: 19px;
  color: #3498DB;
  margin-bottom: 0.5rem;
}

h3
{
  font-family: Century Gothic, Arial, Calibri;
}

h1 {
  margin-bottom: 1.5em;
}

a {
  text-decoration: underline;
  color: #ffffff;
}

a:hover {
  text-decoration: underline;
  background-color: #E4F0FF;
}

body{
  text-align: center;
  background-image: url("../../img/school2.jpg");
}
